<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pingolão - Cadastro</title>
    <link rel="stylesheet" href="../public/styles/telasIniciais.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="title">
            <h1>Jogo do Pingolão</h1>
        </div>
        <div id="down">
            <form id="cadastroForm">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" required>
    
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" required>
    
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" required>
    
                <button type="submit">Cadastrar</button>
            </form>
        </div>
        <img src="../public/images/pingolaoRemoveBg.png" alt="Pingolao">
        <h2>Ganhar aqui é o padrão!</h2>
    </div>

    <script>
        document.getElementById('cadastroForm').addEventListener('submit', function(e) {
            e.preventDefault();
            
            const nome = document.getElementById('nome').value;
            const saldoInicial = 0.00; 

            localStorage.setItem('playerName', nome);
            localStorage.setItem('playerBalance', saldoInicial.toFixed(2));

            window.location.href = 'hub.html';
        });
    </script>
</body>
</html>
