<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pingolão - Hub</title>
    <link rel="stylesheet" href="../public/styles/hub.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">

        <div id="welcome">
            <p>Olá <span id="nomeJogador"></span>, você tem <span id="saldoJogador"></span> para gastar.</p>
        </div>

        <div id="options">
            <div class="option" onclick="abrirModal('modalFinancas')">
                <img class="optionImage" src="../public/images/greenMoney.jpg">
                <h2>Finanças</h2>
            </div>
            <div class="option" onclick="abrirModal('modalJogos')">
                <img class="optionImage" src="../public/images/grayJoystick.png">
                <h2>Jogos</h2>
            </div>
        </div>

        <img src="../public/images/pingolaoRemoveBg.png" alt="Pingolao" id="pingola">
    </div>

    <!-- Modal -->
    <div id="modalFinancas" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModal('modalFinancas')">&times;</span>
            <h2>Finanças</h2>
            <form id="financasForm">
                <label for="operacao">Operação:</label>
                <select id="operacao">
                    <option value="depositar">Depositar</option>
                    <option value="sacar">Sacar</option>
                </select>
                <br>
                <label for="valor">Valor:</label>
                <select id="valor">
                    <option value="10.00">R$ 10,00</option>
                    <option value="50.00">R$ 50,00</option>
                    <option value="100.00">R$ 100,00</option>
                </select>
                <br>
                <button type="button" onclick="realizarTransacao()" class="buttonModal">Confirmar</button>
            </form>
        </div>
    </div>

    <div id="modalJogos" class="modal">
        <div id="modalJogos-content" class="modal-content">
            <span class="close" onclick="fecharModal('modalJogos')">&times;</span>
            <h2>Escolha um Minijogo</h2>
            <div id="minijogos-buttons">
                <div onclick="window.location.href='./minigames/pingolaRolou.html'" class="buttonModal buttonModalJogos">
                    <img class="imagemJogo" src="../public/images/pingolaoRolou.jpg">
                    <h2>Pingolão Rolou</h2>
                </div>
                <div onclick="window.location.href='./minigames/cacaAoPingolao.html'" class="buttonModal buttonModalJogos">
                    <img class="imagemJogo" src="../public/images/cacaAoPingolao.png">
                    <h2>Caça ao Pingolão</h2>
                </div>
                <div onclick="window.location.href='./minigames/estimulePingola.html'" class="buttonModal buttonModalJogos">
                    <img class="imagemJogo" src="../public/images/pingolao.jpg">
                    <h2>Estimule o Pingolão</h2>
                </div>
                <div onclick="window.location.href='./minigames/pingolaPot.html'" class="buttonModal buttonModalJogos">
                    <img class="imagemJogo" src="../public/images/pingolaPot.png">
                    <h2>PingolaPot</h2>
                </div>
            </div>
        </div>
    </div>

    <script src="../src/hub.js"></script>
</body>
</html>
