<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pingolão - Bem-vindo</title>
    <link rel="stylesheet" href="../public/styles/telasIniciais.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="title">
            <h1>Bem-vindo ao Pingolão!</h1>
        </div>
        <p>A melhor casa de apostas da cidade. Aqui, ganhar é mais do que sorte: é TRADIÇÃO!</p>
        <div id="buttons">
            <button onclick="window.location.href='login.html'" class="direcionais">Login</button>
            <button onclick="window.location.href='cadastro.html'" class="direcionais">Cadastro</button>
        </div>
        <img src="../public/images/pingolaoRemoveBg.png" alt="Pingolão">
    </div>
</body>
</html>
