<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pingolão - Login</title>
    <link rel="stylesheet" href="../public/styles/telasIniciais.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="title">
            <h1>Jogo do Pingolão</h1>
        </div>
        <div id="down">
            <form>
                <label for="email">Email:</label>
                <input type="text" name="email" placeholder="Digite seu email">
    
                <label for="senha">Senha:</label>
                <input type="password" name="senha" placeholder="Digite sua senha">
    
                <button onclick="login()">Entrar</button>
            </form>

            <button onclick="window.location.href='index.html'" class="voltar">Voltar</button>

        </div>
        <img src="../public/images/pingolaoRemoveBg.png" alt="Pingolao">
        <h2>Ganhar aqui é o padrão!</h2>
    </div>
    <script>
        function login() {
            alert("Nenhuma conta foi encontrada. Por favor, crie uma conta primeiro.")
        }

    </script>
</body>
</html>
