*{
    margin: 0px;
    padding: 0px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-color: rgb(51, 51, 51);

}

h1{
    color: white;
}

#top{
    height: 30vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

}

#left{
    margin: 200px;
}

#down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form{
    display: flex;
    flex-direction: column;
}

form>input{
    margin-bottom: 10px;
    height: 20px;
}
form>label{
    color: white;
}

form>button{
    height: 40px;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 0px;
    transition: all, 0.5s;
}

form>button:hover{
    background-color: rgb(180, 180, 180);
    border-radius: 20px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    transition: all, 0.5s;
}

img:hover{
    height: 220px;
    width: 220px;
}